force-app/main/default/flows/Designate_Contact_s_Preferred_Communication_Method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Determine Case Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Adding WestConnex recordtype to the existing flow.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Case].Signatory_Person__c.Minister_Communication_Preference__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_8747432462</name>
        <dataType>String</dataType>
        <expression>TEXT({!myVariable_current.Signatory_Person__r.Minister_Communication_Preference__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].Record_Type_Dev_Name__c = &apos;Roads_Freight_Ministerial_Correspondence&apos; || 
[Case].Record_Type_Dev_Name__c  = &apos;WestConnex_Ministerial_Correspondence&apos; ||
[Case].Record_Type_Dev_Name__c = &apos;Transport_Ministerial_Correspondence&apos; ||
[Case].Record_Type_Dev_Name__c = &apos;Transport &amp; Roads Ministerial Correspondence&apos; ||
[Case].Record_Type_Dev_Name__c = &apos;Regional Transport &amp; Roads Ministerial Correspondence&apos; || 
[Case].Record_Type_Dev_Name__c = &apos;General_Ministerial_Correspondence&apos; || [Case].Record_Type_Dev_Name__c = &apos;Office_of_the_Secretary_Ministerial_Correspondence&apos;) &amp;&amp; NOT(ISBLANK([Case].Signatory_Person__c )) &amp;&amp;
NOT(ISBLANK(TEXT([Case].Signatory_Person__c.Minister_Communication_Preference__c) )) &amp;&amp; ISCHANGED([Case].Signatory_Person__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.Record_Type_Dev_Name__c} = &apos;Roads_Freight_Ministerial_Correspondence&apos; || 
{!myVariable_current.Record_Type_Dev_Name__c}  = &apos;WestConnex_Ministerial_Correspondence&apos; ||
{!myVariable_current.Record_Type_Dev_Name__c} = &apos;Transport_Ministerial_Correspondence&apos; ||
{!myVariable_current.Record_Type_Dev_Name__c} = &apos;Transport &amp; Roads Ministerial Correspondence&apos; ||
{!myVariable_current.Record_Type_Dev_Name__c} = &apos;Regional Transport &amp; Roads Ministerial Correspondence&apos; || 
{!myVariable_current.Record_Type_Dev_Name__c} = &apos;General_Ministerial_Correspondence&apos; || {!myVariable_current.Record_Type_Dev_Name__c} = &apos;Office_of_the_Secretary_Ministerial_Correspondence&apos;) &amp;&amp; NOT(ISBLANK({!myVariable_current.Signatory_Person__c} )) &amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.Signatory_Person__r.Minister_Communication_Preference__c}) )) &amp;&amp; ISCHANGED({!myVariable_current.Signatory_Person__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].Record_Type_Dev_Name__c = &apos;Roads_Freight_Ministerial_Correspondence&apos; || 
[Case].Record_Type_Dev_Name__c  = &apos;WestConnex_Ministerial_Correspondence&apos; ||
[Case].Record_Type_Dev_Name__c = &apos;Transport_Ministerial_Correspondence&apos; ||
[Case].Record_Type_Dev_Name__c = &apos;Transport &amp; Roads Ministerial Correspondence&apos; ||
[Case].Record_Type_Dev_Name__c = &apos;Regional Transport &amp; Roads Ministerial Correspondence&apos; || 
[Case].Record_Type_Dev_Name__c = &apos;General_Ministerial_Correspondence&apos; || [Case].Record_Type_Dev_Name__c = &apos;Office_of_the_Secretary_Ministerial_Correspondence&apos;) &amp;&amp; NOT(ISBLANK([Case].Signatory_Person__c )) &amp;&amp;
NOT(ISBLANK(TEXT([Case].Signatory_Person__c.Minister_Communication_Preference__c) )) &amp;&amp; ISCHANGED([Case].Signatory_Person__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.Record_Type_Dev_Name__c} = &apos;Roads_Freight_Ministerial_Correspondence&apos; || 
{!myVariable_old.Record_Type_Dev_Name__c}  = &apos;WestConnex_Ministerial_Correspondence&apos; ||
{!myVariable_old.Record_Type_Dev_Name__c} = &apos;Transport_Ministerial_Correspondence&apos; ||
{!myVariable_old.Record_Type_Dev_Name__c} = &apos;Transport &amp; Roads Ministerial Correspondence&apos; ||
{!myVariable_old.Record_Type_Dev_Name__c} = &apos;Regional Transport &amp; Roads Ministerial Correspondence&apos; || 
{!myVariable_old.Record_Type_Dev_Name__c} = &apos;General_Ministerial_Correspondence&apos; || {!myVariable_old.Record_Type_Dev_Name__c} = &apos;Office_of_the_Secretary_Ministerial_Correspondence&apos;) &amp;&amp; NOT(ISBLANK({!myVariable_old.Signatory_Person__c} )) &amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_old.Signatory_Person__r.Minister_Communication_Preference__c}) )) &amp;&amp; ISCHANGED({!myVariable_old.Signatory_Person__c} )</expression>
    </formulas>
    <interviewLabel>Designate_Contact_s_Preferred_Communication_Method-4_InterviewLabel</interviewLabel>
    <label>Designate Contact&apos;s Preferred Communication Method v1.0</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Stamp Preferred Communication Method</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Minister Communication Preference</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Minister_Communication_Preference__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_8747432462</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
