force-app/main/default/flows/Feedback_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>SearchExistingContact</name>
        <label>SearchExistingContact</label>
        <locationX>285</locationX>
        <locationY>96</locationY>
        <apexClass>LookupContactPlugin</apexClass>
        <connector>
            <targetReference>TimeOfIncidentParser2</targetReference>
        </connector>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HomePhone</name>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MobilePhone</name>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PhoneType</name>
            <value>
                <elementReference>Phone_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ExistingContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactSobject.Email</assignToReference>
            <name>email</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactSobject.FirstName</assignToReference>
            <name>firstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactSobject.HomePhone</assignToReference>
            <name>homePhone</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactSobject.LastName</assignToReference>
            <name>lastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactSobject.MobilePhone</assignToReference>
            <name>mobilePhone</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactSobject.Phone</assignToReference>
            <name>phone</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactSobject.UCC_Flag__c</assignToReference>
            <name>uccFlag</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IsNewContactVar</assignToReference>
            <name>isNewContact</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>TimeOfIncidentParser2</name>
        <label>TimeOfIncidentParser2</label>
        <locationX>652</locationX>
        <locationY>195</locationY>
        <apexClass>TimeOfIncidenceParser</apexClass>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <inputParameters>
            <name>date</name>
            <value>
                <elementReference>Date_Time_of_Incident</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>time</name>
            <value>
                <elementReference>Time_of_Incident</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DateAndTimeOfIncident</assignToReference>
            <name>TimeAndDate</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>1003</locationX>
        <locationY>95</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Please ensure last name is  sepcified and is minimum 2 characters long.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Feedback_Call</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_Phone</name>
        <choiceText>Home Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>homePhone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_Phone</name>
        <choiceText>Mobile Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mobilePhone</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Phone</name>
        <choiceText>Other Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>otherPhone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Work_Phone</name>
        <choiceText>Work Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>workPhone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>NullContactId</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>check_lastname_if_firstname</name>
        <label>check lastname if firstname</label>
        <locationX>648</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>no_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeOfIncidentParser2</targetReference>
            </connector>
            <label>no name</label>
        </rules>
        <rules>
            <name>firstname_without_lastname</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastNameLessThan2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message</targetReference>
            </connector>
            <label>firstname without lastname</label>
        </rules>
        <rules>
            <name>firstname_and_lastname_or_only_lastname</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchExistingContact</targetReference>
            </connector>
            <label>firstname and lastname or only lastname</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Contact_or_New</name>
        <label>Existing Contact or New</label>
        <locationX>665</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Existing_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewContactVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactAndCaseCreated</targetReference>
            </connector>
            <label>Existing Contact Found</label>
        </rules>
        <rules>
            <name>New_Contact_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewContactVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_the_new_Case_created</targetReference>
            </connector>
            <label>New Contact Required</label>
        </rules>
        <rules>
            <name>no_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_created</targetReference>
            </connector>
            <label>no contact</label>
        </rules>
    </decisions>
    <description>Latest Flow after final change was made on 18/01/2018. case number &amp; description box in confirmation screen</description>
    <formulas>
        <description>last name blank first name not</description>
        <name>lastnameblankfirstnamenot</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Last_Name}) &amp;&amp; ! ISBLANK({!First_Name})</expression>
    </formulas>
    <formulas>
        <name>LastNameLessThan2</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Last_Name})&lt;2</expression>
    </formulas>
    <interviewLabel>Feedback Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Call V10.28</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>660</locationX>
        <locationY>282</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Created_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Bus_driver_identification__c</field>
            <value>
                <elementReference>Bus_Driver_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ExistingContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_of_Incident__c</field>
            <value>
                <elementReference>DateAndTimeOfIncident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction_of_Travel__c</field>
            <value>
                <elementReference>Direction_of_Travel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Incident__c</field>
            <value>
                <elementReference>Location_of_Incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNR_Number__c</field>
            <value>
                <elementReference>PNR_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Requested__c</field>
            <value>
                <elementReference>ResponseRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Registration__c</field>
            <value>
                <elementReference>Vehicle_rego_MO_ST</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Created_Case</name>
        <label>Lookup Created Case</label>
        <locationX>669</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact_or_New</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_desc</name>
        <label>Update Case desc</label>
        <locationX>215</locationX>
        <locationY>474</locationY>
        <filters>
            <field>CaseNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_desc2</name>
        <label>Update Case desc2</label>
        <locationX>1140</locationX>
        <locationY>474</locationY>
        <filters>
            <field>CaseNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription2</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_desc_3</name>
        <label>Update Case desc 3</label>
        <locationX>672</locationX>
        <locationY>686</locationY>
        <filters>
            <field>CaseNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription3</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_created</name>
        <label>Case created</label>
        <locationX>670</locationX>
        <locationY>575</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_desc_3</targetReference>
        </connector>
        <fields>
            <name>CaseCreated</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;New Case Created  &lt;B&gt;{!CaseNumber}&lt;/B&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please close this window to access the case.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseDescription3</name>
            <defaultValue>
                <elementReference>Case_Description</elementReference>
            </defaultValue>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContactAndCaseCreated</name>
        <label>ContactAndCaseCreated</label>
        <locationX>974</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_desc2</targetReference>
        </connector>
        <fields>
            <name>CaseCreateDone</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;New case  &lt;B&gt;{!CaseNumber}&lt;/B&gt; is created for existing contact.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please close this window to access the case.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseDescription2</name>
            <defaultValue>
                <elementReference>Case_Description</elementReference>
            </defaultValue>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_the_new_Case_created</name>
        <label>Display the new Case created</label>
        <locationX>383</locationX>
        <locationY>478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_desc</targetReference>
        </connector>
        <fields>
            <name>CreateNewCase</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;New contact and case&lt;B&gt; {!CaseNumber}&lt;/B&gt; created.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please close this window to access the case.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseDescription1</name>
            <defaultValue>
                <elementReference>Case_Description</elementReference>
            </defaultValue>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Feedback_Call</name>
        <label>New Feedback Call</label>
        <locationX>652</locationX>
        <locationY>16</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_lastname_if_firstname</targetReference>
        </connector>
        <fields>
            <name>Phone_Type</name>
            <choiceReferences>Home_Phone</choiceReferences>
            <choiceReferences>Work_Phone</choiceReferences>
            <choiceReferences>Other_Phone</choiceReferences>
            <choiceReferences>Mobile_Phone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Phone Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The format entered does not match the expected format&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;• Home/Work: 0X XXXX XXXX&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;• Mobile: 04XX XXX XXX&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;• International (Other): &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     • (+XXX) XXXX XXXX XXXX, +XXX XXXX XXXX XXXX, &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     • +XXX-XXXX-XXXX-XXXX, +XXX.XXXX.XXXX.XXXX.&lt;/FONT&gt;&lt;/DIV&gt;</errorMessage>
                <formulaExpression>IF(OR({!$Profile.Name} = &#39;feedback Profile&#39;,{!$Profile.Name} = &#39;System Administrator&#39;,ISBLANK( {!Phone})), true, 
	IF({!Phone_Type} = {!Home_Phone}, OR((REGEX( {!Phone} , &quot;0\\d{1} \\d{4} \\d{4}$&quot;)),(REGEX( {!Phone} , &quot;^\\(0\\d{1}\\) \\d{4} \\d{4}$&quot;)),(REGEX( {!Phone} , &quot;^[1-9]\\d{3} \\d{4}$&quot;)),(REGEX( {!Phone} , &quot;^[1-9]\\d{7}$&quot;)), (REGEX( {!Phone} , &quot;0\\d{9}$&quot;))),
		IF({!Phone_Type} = {!Mobile_Phone}, OR((REGEX( {!Phone} , &quot;04\\d{2} \\d{3} \\d{3}$&quot;)),(REGEX( {!Phone} , &quot;04\\d{8}$&quot;))),
			IF({!Phone_Type} = {!Other_Phone}, REGEX( {!Phone} , &quot;^\\(?\\+?([0-9]{1,3})\\)?[- .]?([0-9]{1,4})[- .]?([0-9]{1,4})[- .]?([0-9]{1,4})$&quot;),
				IF({!Phone_Type} = {!Work_Phone}, OR((REGEX( {!Phone} , &quot;0\\d{1} \\d{4} \\d{4}$&quot;)),(REGEX( {!Phone} , &quot;^\\(0\\d{1}\\) \\d{4} \\d{4}$&quot;)),(REGEX( {!Phone} , &quot;^[1-9]\\d{3} \\d{4}$&quot;)),(REGEX( {!Phone} , &quot;^[1-9]\\d{7}$&quot;)), (REGEX( {!Phone} , &quot;0\\d{9}$&quot;))),false
				)
			)
		)
	)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&#39;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessageString</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMsg}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Description</name>
            <defaultValue>
                <elementReference>Case_Description</elementReference>
            </defaultValue>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CasePriority</name>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Normal</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Normal</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ResponseRequired</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Response Required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location_of_Incident</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Location_of_Incident</elementReference>
            </defaultValue>
            <fieldText>Location of Incident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_rego_MO_ST</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Vehicle_rego_MO_ST</elementReference>
            </defaultValue>
            <fieldText>Vehicle rego (MO/ST)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Time_of_Incident</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_Time_of_Incident</elementReference>
            </defaultValue>
            <fieldText>Date of Incident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_of_Incident</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Time_of_Incident</elementReference>
            </defaultValue>
            <fieldText>Time of Incident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Error: Enter value in HH:MM or HHMM format</errorMessage>
                <formulaExpression>IF(REGEX({!Time_of_Incident},&#39;^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$&#39;) ,IF(LEN({!Time_of_Incident}) &lt;&gt; 5, FALSE, TRUE), IF(REGEX({!Time_of_Incident},&#39;^([0-9]|0[0-9]|1[0-9]|2[0-3])[0-5][0-9]$&#39;),IF(LEN({!Time_of_Incident}) &lt;&gt; 4, FALSE, TRUE), FALSE))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Bus_Driver_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Bus_Driver_Id</elementReference>
            </defaultValue>
            <fieldText>Bus Driver Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Direction_of_Travel</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Direction_of_Travel</elementReference>
            </defaultValue>
            <fieldText>Direction of Travel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&#39;t meet the validation criteria of length 255 for this input field.</errorMessage>
                <formulaExpression>LEN({!Direction_of_Travel}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PNR_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PNR_Number</elementReference>
            </defaultValue>
            <fieldText>PNR Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>PNR number can not be greated than 8 characters</errorMessage>
                <formulaExpression>LEN({!PNR_Number}) &lt; 9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Instruction2ObtainContactDetail</name>
            <fieldText>Note. 
System will search for matching customer record. If none found, it will create a new customer record and link it automatically to the new case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Not a valid email address format.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>New_Feedback_Call</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DateAndTimeOfIncident</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error message display text</description>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ExistingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>First_Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>IsNewContactVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaxonomySobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Taxonomy_Metadata__c</objectType>
    </variables>
</Flow>
